In [1]:
# Philipe Lage
import pandas as pd
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()
import MySQLdb

In [2]:
#Extraindo dados do arquivo address.csv
csv_address = "bases/address.csv"
address_df = pd.read_csv(csv_address)
address_df.head()

   id_people country_code  country                  city       street_address
0          1           CN    China               Shishan   1467 Eagan Parkway
1          2           CN    China          Zhongshanmen     324 Morrow Plaza
2          3           TN  Tunisia           Al Ḩammāmāt  0836 Center Parkway
3          4           RU   Russia  Spasskoye-Lutovinovo         2 Merry Lane
4          5           LY    Libya                Zliten     9 Stang Junction

In [3]:
#Extraindo dados do arquivo people.csv
csv_people = "bases/people.csv"
people_df = pd.read_csv(csv_people, sep=','  , engine='python')
people_df.head()

,id_people,first_name,last_name,email,gender,language,company_name,department
0,1,Ranice,McLice,rmclice0@a8.net,Female,NaN,"Beahan, Lynch and Ankunding",Legal
1,2,Netta,Peatman,NaN,Female,Yiddish,Schuppe-Zboncak,Research and Development
2,3,Dalston,Pretorius,dpretorius2@hc360.com,Male,Marathi,"Turner, Stehr and Schimmel",Business Development
3,4,Vale,Castanone,vcastanone3@artisteer.com,Male,Tswana,Lebsack LLC,Human Resources
4,5,Alma,Bullerwell,abullerwell4@facebook.com,Female,Danish,Grimes Group,Support

In [4]:
# Extraindo dados do arquivo cars.json
import json
from pandas.io.json import json_normalize
cat=[]

In [5]:
json_file="bases/cars.json"
type(json_file)

str

In [6]:
df_cars_json=pd.read_json(json_file)
df_cars_json.head()

   id_people            car_model car_model_year
0          1                 None           None
1          2                 None           None
2          3  [GT-R, Savana 3500]   [1988, 1992]
3          4                 None           None
4          5                 None           None

In [7]:
#Unindo os 3 Data frames em um só
final_df=pd.concat([people_df,address_df,df_cars_json], axis=1, join='inner')
final_df = final_df.reset_index(drop=True)
final_df.insert(0,'ID',range(1,1+len(final_df)))
final_df=final_df.set_index('ID')

final_df

,id_people,first_name,last_name,email,gender,language,company_name,department,id_people,country_code,country,city,street_address,id_people,car_model,car_model_year
ID,,,,,,,,,,,,,,,,
1,1,Ranice,McLice,rmclice0@a8.net,Female,NaN,"Beahan, Lynch and Ankunding",Legal,1,CN,China,Shishan,1467 Eagan Parkway,1,None,None
2,2,Netta,Peatman,NaN,Female,Yiddish,Schuppe-Zboncak,Research and Development,2,CN,China,Zhongshanmen,324 Morrow Plaza,2,None,None
3,3,Dalston,Pretorius,dpretorius2@hc360.com,Male,Marathi,"Turner, Stehr and Schimmel",Business Development,3,TN,Tunisia,Al Ḩammāmāt,0836 Center Parkway,3,"[GT-R, Savana 3500]","[1988, 1992]"
4,4,Vale,Castanone,vcastanone3@artisteer.com,Male,Tswana,Lebsack LLC,Human Resources,4,RU,Russia,Spasskoye-Lutovinovo,2 Merry Lane,4,None,None
5,5,Alma,Bullerwell,abullerwell4@facebook.com,Female,Danish,Grimes Group,Support,5,LY,Libya,Zliten,9 Stang Junction,5,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
996,996,Ronni,Marston,NaN,Female,Gujarati,"Von, Muller and Fisher",Engineering,996,RU,Russia,Turan,93303 Graedel Center,996,None,None
997,997,Uri,Silson,usilsonro@artisteer.com,Male,Kashmiri,Cartwright-Breitenberg,Research and Development,997,BY,Belarus,Hotsk,919 Corscot Hill,997,None,None
998,998,Margie,McGlaughn,NaN,Female,NaN,Crooks LLC,Accounting,998,MG,Madagascar,Arivonimamo,3222 Moose Pass,998,None,None
999,999,Zollie,Hylands,zhylandsrq@google.com.br,Male,Northern Sotho,NaN,NaN,999,ID,Indonesia,Pulaukijang,76429 Hansons Drive,999,"[Tribeca, Aerostar]","[1999, 1996]"
1000,1000,Barty,Mackro,bmackrorr@miitbeian.gov.cn,Male,Hungarian,Becker-Wiegand,Research and Development,1000,CN,China,Laojiangjunjie,01393 South Alley,1000,"[STS, Sunfire]","[1994, 1995]"

In [8]:
# Ajustando colunas
final_df2 = final_df.drop(columns=['id_people'])
final_df2

,first_name,last_name,email,gender,language,company_name,department,country_code,country,city,street_address,car_model,car_model_year
ID,,,,,,,,,,,,,
1,Ranice,McLice,rmclice0@a8.net,Female,NaN,"Beahan, Lynch and Ankunding",Legal,CN,China,Shishan,1467 Eagan Parkway,None,None
2,Netta,Peatman,NaN,Female,Yiddish,Schuppe-Zboncak,Research and Development,CN,China,Zhongshanmen,324 Morrow Plaza,None,None
3,Dalston,Pretorius,dpretorius2@hc360.com,Male,Marathi,"Turner, Stehr and Schimmel",Business Development,TN,Tunisia,Al Ḩammāmāt,0836 Center Parkway,"[GT-R, Savana 3500]","[1988, 1992]"
4,Vale,Castanone,vcastanone3@artisteer.com,Male,Tswana,Lebsack LLC,Human Resources,RU,Russia,Spasskoye-Lutovinovo,2 Merry Lane,None,None
5,Alma,Bullerwell,abullerwell4@facebook.com,Female,Danish,Grimes Group,Support,LY,Libya,Zliten,9 Stang Junction,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
996,Ronni,Marston,NaN,Female,Gujarati,"Von, Muller and Fisher",Engineering,RU,Russia,Turan,93303 Graedel Center,None,None
997,Uri,Silson,usilsonro@artisteer.com,Male,Kashmiri,Cartwright-Breitenberg,Research and Development,BY,Belarus,Hotsk,919 Corscot Hill,None,None
998,Margie,McGlaughn,NaN,Female,NaN,Crooks LLC,Accounting,MG,Madagascar,Arivonimamo,3222 Moose Pass,None,None
999,Zollie,Hylands,zhylandsrq@google.com.br,Male,Northern Sotho,NaN,NaN,ID,Indonesia,Pulaukijang,76429 Hansons Drive,"[Tribeca, Aerostar]","[1999, 1996]"
1000,Barty,Mackro,bmackrorr@miitbeian.gov.cn,Male,Hungarian,Becker-Wiegand,Research and Development,CN,China,Laojiangjunjie,01393 South Alley,"[STS, Sunfire]","[1994, 1995]"

In [9]:
#final_df2 = final_df2.rename(columns={'ID': 'id_people'})
final_df2.insert(0,'id_people',range(1,1+len(final_df)))
final_df2=final_df2.set_index('id_people')
final_df2

,first_name,last_name,email,gender,language,company_name,department,country_code,country,city,street_address,car_model,car_model_year
id_people,,,,,,,,,,,,,
1,Ranice,McLice,rmclice0@a8.net,Female,NaN,"Beahan, Lynch and Ankunding",Legal,CN,China,Shishan,1467 Eagan Parkway,None,None
2,Netta,Peatman,NaN,Female,Yiddish,Schuppe-Zboncak,Research and Development,CN,China,Zhongshanmen,324 Morrow Plaza,None,None
3,Dalston,Pretorius,dpretorius2@hc360.com,Male,Marathi,"Turner, Stehr and Schimmel",Business Development,TN,Tunisia,Al Ḩammāmāt,0836 Center Parkway,"[GT-R, Savana 3500]","[1988, 1992]"
4,Vale,Castanone,vcastanone3@artisteer.com,Male,Tswana,Lebsack LLC,Human Resources,RU,Russia,Spasskoye-Lutovinovo,2 Merry Lane,None,None
5,Alma,Bullerwell,abullerwell4@facebook.com,Female,Danish,Grimes Group,Support,LY,Libya,Zliten,9 Stang Junction,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
996,Ronni,Marston,NaN,Female,Gujarati,"Von, Muller and Fisher",Engineering,RU,Russia,Turan,93303 Graedel Center,None,None
997,Uri,Silson,usilsonro@artisteer.com,Male,Kashmiri,Cartwright-Breitenberg,Research and Development,BY,Belarus,Hotsk,919 Corscot Hill,None,None
998,Margie,McGlaughn,NaN,Female,NaN,Crooks LLC,Accounting,MG,Madagascar,Arivonimamo,3222 Moose Pass,None,None
999,Zollie,Hylands,zhylandsrq@google.com.br,Male,Northern Sotho,NaN,NaN,ID,Indonesia,Pulaukijang,76429 Hansons Drive,"[Tribeca, Aerostar]","[1999, 1996]"
1000,Barty,Mackro,bmackrorr@miitbeian.gov.cn,Male,Hungarian,Becker-Wiegand,Research and Development,CN,China,Laojiangjunjie,01393 South Alley,"[STS, Sunfire]","[1994, 1995]"

In [10]:
#Salvando resultado em csv
final_df2.to_csv('saida_dados/people_final.csv')

In [11]:
final_df2.count()

first_name        1000
last_name         1000
email              800
gender             974
language           884
company_name       691
department         691
country_code       806
country            806
city               806
street_address     806
car_model          408
car_model_year     408
dtype: int64

In [12]:
final_df2_limpo = final_df2

In [13]:
#Ajustando os campos NaN para gerar o SQL
final_df2_limpo.update(final_df2_limpo['email'].fillna('none'))
final_df2_limpo.update(final_df2_limpo['gender'].fillna('none'))
final_df2_limpo.update(final_df2_limpo['language'].fillna('none'))
final_df2_limpo.update(final_df2_limpo['company_name'].fillna('none'))
final_df2_limpo.update(final_df2_limpo['department'].fillna('none'))
final_df2_limpo.update(final_df2_limpo['country_code'].fillna('none'))
final_df2_limpo.update(final_df2_limpo['country'].fillna('none'))
final_df2_limpo.update(final_df2_limpo['city'].fillna('none'))
final_df2_limpo.update(final_df2_limpo['street_address'].fillna('none'))
final_df2_limpo.update(final_df2_limpo['car_model'].fillna('none'))
final_df2_limpo.update(final_df2_limpo['car_model_year'].fillna('none'))

final_df2_limpo.head()

,first_name,last_name,email,gender,language,company_name,department,country_code,country,city,street_address,car_model,car_model_year
id_people,,,,,,,,,,,,,
1,Ranice,McLice,rmclice0@a8.net,Female,none,"Beahan, Lynch and Ankunding",Legal,CN,China,Shishan,1467 Eagan Parkway,none,none
2,Netta,Peatman,none,Female,Yiddish,Schuppe-Zboncak,Research and Development,CN,China,Zhongshanmen,324 Morrow Plaza,none,none
3,Dalston,Pretorius,dpretorius2@hc360.com,Male,Marathi,"Turner, Stehr and Schimmel",Business Development,TN,Tunisia,Al Ḩammāmāt,0836 Center Parkway,"[GT-R, Savana 3500]","[1988, 1992]"
4,Vale,Castanone,vcastanone3@artisteer.com,Male,Tswana,Lebsack LLC,Human Resources,RU,Russia,Spasskoye-Lutovinovo,2 Merry Lane,none,none
5,Alma,Bullerwell,abullerwell4@facebook.com,Female,Danish,Grimes Group,Support,LY,Libya,Zliten,9 Stang Junction,none,none

In [14]:
final_df2_limpo.count()

first_name        1000
last_name         1000
email             1000
gender            1000
language          1000
company_name      1000
department        1000
country_code      1000
country           1000
city              1000
street_address    1000
car_model         1000
car_model_year    1000
dtype: int64

In [17]:
#CARGA DE DADOS NO MYSQL

import csv
import pymysql
from config import config
 
cnx = pymysql.connect(host='localhost',
                         user='root',
                         password='root',
                         db='atividadegotodata', charset='utf8')
cursor = cnx.cursor()
 
input_file = csv.DictReader(open('output_data/people_final.csv', encoding='utf-8'))
for row in input_file:
    cursor.execute("INSERT INTO atividadegotodata.people (id_people ,first_name , last_name , email , gender , language , company_name ,department , country_code , country , city , street_address , car_model , car_model_year) \
                    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s,%s, %s, %s, %s)",(row['id_people'],row['first_name'],row['last_name'],row['email'],
                                                                                     row['gender'],row['language'],row['company_name'],row['department'],
                                                                                     row['country_code'],row['country'],row['city'],row['street_address'],
                                                                                     row['car_model'],row['car_model_year']))
    cnx.commit()
    print('Num: {}, People: {}'.format(row['id_people'], row['first_name']))

Num: 1, People: Ranice
Num: 2, People: Netta
Num: 3, People: Dalston
Num: 4, People: Vale
Num: 5, People: Alma
Num: 6, People: Keven
Num: 7, People: Krispin
Num: 8, People: Justine
Num: 9, People: Barnaby
Num: 10, People: Stu
Num: 11, People: Fletcher
Num: 12, People: Ignatius
Num: 13, People: Lari
Num: 14, People: Jody
Num: 15, People: Monte
Num: 16, People: Mirella
Num: 17, People: Marcy
Num: 18, People: Wald
Num: 19, People: Eberto
Num: 20, People: Orin
Num: 21, People: Elbert
Num: 22, People: Ramsay
Num: 23, People: Lita
Num: 24, People: Ewen
Num: 25, People: Kynthia
Num: 26, People: Thaine
Num: 27, People: Graeme
Num: 28, People: Maggie
Num: 29, People: Lin
Num: 30, People: Kristopher
Num: 31, People: Arvie
Num: 32, People: Lilla
Num: 33, People: Thurston
Num: 34, People: Anthiathia
Num: 35, People: Clint
Num: 36, People: Gray
Num: 37, People: Patty
Num: 38, People: Camel
Num: 39, People: Gaven
Num: 40, People: Harris
Num: 41, People: Nady
Num: 42, People: Johnna
Num: 43, People: Brit
Num: 44, People: Baily
Num: 45, People: Bili
Num: 46, People: Ginnie
Num: 47, People: Raynard
Num: 48, People: Lorry
Num: 49, People: Emmanuel
Num: 50, People: Aharon
Num: 51, People: Freddie
Num: 52, People: Lorena
Num: 53, People: Truda
Num: 54, People: Shellie
Num: 55, People: Doralia
Num: 56, People: Edan
Num: 57, People: Dimitri
Num: 58, People: Aliza
Num: 59, People: Tracie
Num: 60, People: Gwenneth
Num: 61, People: Jacinthe
Num: 62, People: Aron
Num: 63, People: Florette
Num: 64, People: Sarina
Num: 65, People: Sande
Num: 66, People: Kizzee
Num: 67, People: Clevey
Num: 68, People: Arliene
Num: 69, People: Hillard
Num: 70, People: Cissy
Num: 71, People: Eddy
Num: 72, People: Gabriello
Num: 73, People: Gusta
Num: 74, People: Doug
Num: 75, People: Pearline
Num: 76, People: Merwyn
Num: 77, People: Veronica
Num: 78, People: Hobie
Num: 79, People: Martin
Num: 80, People: Caren
Num: 81, People: Tedda
Num: 82, People: Elva
Num: 83, People: Gav
Num: 84, People: Daisey
Num: 85, People: Jenifer
Num: 86, People: Lucila
Num: 87, People: Lissa
Num: 88, People: Clerc
Num: 89, People: Chiquia
Num: 90, People: Michelina
Num: 91, People: Lillis
Num: 92, People: Swen
Num: 93, People: Sander
Num: 94, People: Ladonna
Num: 95, People: Kelcey
Num: 96, People: Fan
Num: 97, People: Rheta
Num: 98, People: Ursulina
Num: 99, People: Cristal
Num: 100, People: Stefan
Num: 101, People: Emmie
Num: 102, People: Mellicent
Num: 103, People: Neilla
Num: 104, People: Hersch
Num: 105, People: Maximo
Num: 106, People: Diann
Num: 107, People: Keely
Num: 108, People: Boyd
Num: 109, People: Fawn
Num: 110, People: Allyson
Num: 111, People: Niki
Num: 112, People: Benjy
Num: 113, People: Yance
Num: 114, People: Saxe
Num: 115, People: Jonathon
Num: 116, People: Hendrick
Num: 117, People: Rafaellle
Num: 118, People: Cherilyn
Num: 119, People: Gerrard
Num: 120, People: Harv
Num: 121, People: Hildy
Num: 122, People: Eziechiele
Num: 123, People: Ian
Num: 124, People: Keary
Num: 125, People: Tanhya
Num: 126, People: Lucine
Num: 127, People: Norbert
Num: 128, People: Corrie
Num: 129, People: Valene
Num: 130, People: Reeta
Num: 131, People: Lisetta
Num: 132, People: Arlen
Num: 133, People: Hetti
Num: 134, People: Marilin
Num: 135, People: Leeanne
Num: 136, People: Farlee
Num: 137, People: Humfrid
Num: 138, People: Lorelei
Num: 139, People: Kass
Num: 140, People: Zuzana
Num: 141, People: Weidar
Num: 142, People: Daisi
Num: 143, People: Delmar
Num: 144, People: Enrica
Num: 145, People: Alessandro
Num: 146, People: Gerrie
Num: 147, People: Chen
Num: 148, People: Celestyn
Num: 149, People: Giovanna
Num: 150, People: Tabitha
Num: 151, People: Carlotta
Num: 152, People: Thoma
Num: 153, People: Dew
Num: 154, People: Roz
Num: 155, People: Alyce
Num: 156, People: Ken
Num: 157, People: Davide
Num: 158, People: Olenolin
Num: 159, People: Christy
Num: 160, People: Gwen
Num: 161, People: Carlita
Num: 162, People: Osmond
Num: 163, People: Henri
Num: 164, People: Skippy
Num: 165, People: Yancy
Num: 166, People: Shurwood
Num: 167, People: Ewell
Num: 168, People: Myer
Num: 169, People: Erminia
Num: 170, People: Matt
Num: 171, People: Saxon
Num: 172, People: Yorgo
Num: 173, People: Rinaldo
Num: 174, People: Noni
Num: 175, People: Clayton
Num: 176, People: Belia
Num: 177, People: Zedekiah
Num: 178, People: Andriette
Num: 179, People: Christy
Num: 180, People: Gael
Num: 181, People: Elwin
Num: 182, People: Gerry
Num: 183, People: Wainwright
Num: 184, People: Ammamaria
Num: 185, People: Tori
Num: 186, People: Donetta
Num: 187, People: Somerset
Num: 188, People: Merrily
Num: 189, People: Hercule
Num: 190, People: Lemar
Num: 191, People: Dita
Num: 192, People: Nannette
Num: 193, People: Stefan
Num: 194, People: Gene
Num: 195, People: Waylan
Num: 196, People: Halsey
Num: 197, People: Friedrick
Num: 198, People: Staci
Num: 199, People: Pincus
Num: 200, People: Kiley
Num: 201, People: Lark
Num: 202, People: Brianna
Num: 203, People: Raddy
Num: 204, People: Harwell
Num: 205, People: Kermie
Num: 206, People: Linzy
Num: 207, People: Michale
Num: 208, People: Donn
Num: 209, People: Myriam
Num: 210, People: Portie
Num: 211, People: Teador
Num: 212, People: Paddy
Num: 213, People: Sol
Num: 214, People: Augie
Num: 215, People: Oralia
Num: 216, People: Jeniece
Num: 217, People: Colver
Num: 218, People: Ruprecht
Num: 219, People: Grantham
Num: 220, People: Delaney
Num: 221, People: Flori
Num: 222, People: Cori
Num: 223, People: Hermon
Num: 224, People: Maurice
Num: 225, People: Butch
Num: 226, People: Elspeth
Num: 227, People: Cole
Num: 228, People: Ransom
Num: 229, People: Remington
Num: 230, People: Tiphany
Num: 231, People: Reginald
Num: 232, People: Joelly
Num: 233, People: Rosalia
Num: 234, People: Menard
Num: 235, People: Daria
Num: 236, People: Melvyn
Num: 237, People: Carolus
Num: 238, People: Zacharias
Num: 239, People: Ingunna
Num: 240, People: Tobiah
Num: 241, People: Gard
Num: 242, People: Shoshana
Num: 243, People: Jon
Num: 244, People: Tabina
Num: 245, People: Yehudit
Num: 246, People: Beitris
Num: 247, People: Rita
Num: 248, People: Annadiane
Num: 249, People: Patty
Num: 250, People: Kyle
Num: 251, People: Wilmer
Num: 252, People: Philip
Num: 253, People: Clayborn
Num: 254, People: Randolf
Num: 255, People: Ward
Num: 256, People: Pebrook
Num: 257, People: Homer
Num: 258, People: Bertrand
Num: 259, People: Luise
Num: 260, People: Barbara
Num: 261, People: Alanah
Num: 262, People: Booth
Num: 263, People: Koenraad
Num: 264, People: Morgen
Num: 265, People: Reine
Num: 266, People: Maurene
Num: 267, People: Matilde
Num: 268, People: Janifer
Num: 269, People: Ralph
Num: 270, People: Archambault
Num: 271, People: Ron
Num: 272, People: Jamie
Num: 273, People: Vernor
Num: 274, People: Mordy
Num: 275, People: Coop
Num: 276, People: Allegra
Num: 277, People: Taite
Num: 278, People: Bonnee
Num: 279, People: Cathe
Num: 280, People: Silas
Num: 281, People: Burr
Num: 282, People: Evania
Num: 283, People: Felicio
Num: 284, People: Rowen
Num: 285, People: Laurie
Num: 286, People: Tulley
Num: 287, People: Coraline
Num: 288, People: Lucky
Num: 289, People: Bat
Num: 290, People: Etan
Num: 291, People: Dori
Num: 292, People: Jordana
Num: 293, People: Massimiliano
Num: 294, People: Karlyn
Num: 295, People: Gustav
Num: 296, People: Eleanore
Num: 297, People: Lucienne
Num: 298, People: Sallyanne
Num: 299, People: Faydra
Num: 300, People: Valeda
Num: 301, People: Trever
Num: 302, People: Ham
Num: 303, People: Charisse
Num: 304, People: Inigo
Num: 305, People: Hussein
Num: 306, People: Lucias
Num: 307, People: Hewe
Num: 308, People: Eben
Num: 309, People: Ardyce
Num: 310, People: Alain
Num: 311, People: Gipsy
Num: 312, People: Abby
Num: 313, People: Cristobal
Num: 314, People: Harper
Num: 315, People: Ashley
Num: 316, People: Paige
Num: 317, People: Rodolphe
Num: 318, People: Stoddard
Num: 319, People: Hilde
Num: 320, People: Nadya
Num: 321, People: Dedra
Num: 322, People: Mayne
Num: 323, People: Finn
Num: 324, People: Jamie
Num: 325, People: Abrahan
Num: 326, People: Rodrique
Num: 327, People: Ulick
Num: 328, People: Gregoor
Num: 329, People: Isadore
Num: 330, People: Trixy
Num: 331, People: Graham
Num: 332, People: Noel
Num: 333, People: Lee
Num: 334, People: Morissa
Num: 335, People: Justin
Num: 336, People: Evin
Num: 337, People: Nester
Num: 338, People: Georgiana
Num: 339, People: Erin
Num: 340, People: Sandor
Num: 341, People: Amby
Num: 342, People: Roslyn
Num: 343, People: Starlin
Num: 344, People: Fulton
Num: 345, People: Rodd
Num: 346, People: Eudora
Num: 347, People: Cleopatra
Num: 348, People: Reginauld
Num: 349, People: Hakeem
Num: 350, People: Muhammad

Num: 351, People: Dory
Num: 352, People: Corabella
Num: 353, People: Clemens
Num: 354, People: Alverta
Num: 355, People: Brice
Num: 356, People: Ashien
Num: 357, People: Corrinne
Num: 358, People: Illa
Num: 359, People: Helli
Num: 360, People: Giordano
Num: 361, People: Clarabelle
Num: 362, People: Dynah
Num: 363, People: Emmy
Num: 364, People: Bidget
Num: 365, People: Rhodie
Num: 366, People: Lolita
Num: 367, People: Pierette
Num: 368, People: Shelton
Num: 369, People: Lisa
Num: 370, People: Vi
Num: 371, People: Lotty
Num: 372, People: Corrinne
Num: 373, People: Taylor
Num: 374, People: Arabelle
Num: 375, People: Sharlene
Num: 376, People: Karisa
Num: 377, People: Mattie
Num: 378, People: Jana
Num: 379, People: Paten
Num: 380, People: Arvy
Num: 381, People: Alethea
Num: 382, People: Vivi
Num: 383, People: Cheston
Num: 384, People: James
Num: 385, People: Lazaro
Num: 386, People: Derrik
Num: 387, People: Aubrie
Num: 388, People: Gasper
Num: 389, People: Tod
Num: 390, People: Shepperd
Num: 391, People: Jemmy
Num: 392, People: Tiertza
Num: 393, People: Eldredge
Num: 394, People: Cecilla
Num: 395, People: Thaxter
Num: 396, People: Redd
Num: 397, People: Lenee
Num: 398, People: Scot
Num: 399, People: Tadeas
Num: 400, People: Stearn
Num: 401, People: Erina
Num: 402, People: Michel
Num: 403, People: Amelita
Num: 404, People: Dolly
Num: 405, People: Kelsy
Num: 406, People: Reuben
Num: 407, People: Lilla
Num: 408, People: Linet
Num: 409, People: Kakalina
Num: 410, People: Vanya
Num: 411, People: Bernelle
Num: 412, People: Marcello
Num: 413, People: Felice
Num: 414, People: Daune
Num: 415, People: Olag
Num: 416, People: Pearce
Num: 417, People: Rubin
Num: 418, People: Webb
Num: 419, People: Rachele
Num: 420, People: Lelah
Num: 421, People: Mikey
Num: 422, People: Annabella
Num: 423, People: Max
Num: 424, People: Addi
Num: 425, People: Ximenez
Num: 426, People: Rodrique
Num: 427, People: Aldridge
Num: 428, People: Rowe
Num: 429, People: Andrea
Num: 430, People: Nappie
Num: 431, People: Elwyn
Num: 432, People: Aurie
Num: 433, People: Dulciana
Num: 434, People: Ethelbert
Num: 435, People: Piper
Num: 436, People: Roosevelt
Num: 437, People: Akim
Num: 438, People: Eilis
Num: 439, People: Julius
Num: 440, People: Gerard
Num: 441, People: Liane
Num: 442, People: Douglas
Num: 443, People: Ara
Num: 444, People: Spike
Num: 445, People: Heall
Num: 446, People: Vanni
Num: 447, People: Ericka
Num: 448, People: Julieta
Num: 449, People: Smitty
Num: 450, People: Kipp
Num: 451, People: Odell
Num: 452, People: Coreen
Num: 453, People: Julian
Num: 454, People: Vivyan
Num: 455, People: Avrom
Num: 456, People: Artemis
Num: 457, People: Elisha
Num: 458, People: Leonanie
Num: 459, People: Michaella
Num: 460, People: Filberte
Num: 461, People: Roderich
Num: 462, People: Candie
Num: 463, People: Kirsti
Num: 464, People: Wenona
Num: 465, People: Elisha
Num: 466, People: Orton
Num: 467, People: Rea
Num: 468, People: Shaw
Num: 469, People: Guendolen
Num: 470, People: Katharina
Num: 471, People: Emanuele
Num: 472, People: Nathanil
Num: 473, People: Erskine
Num: 474, People: Eugenio
Num: 475, People: Townsend
Num: 476, People: Peg
Num: 477, People: Waylon
Num: 478, People: Clark
Num: 479, People: Sergeant
Num: 480, People: Bernete
Num: 481, People: Stephannie
Num: 482, People: Izabel
Num: 483, People: Marcel
Num: 484, People: Stephanie
Num: 485, People: Wendell
Num: 486, People: Madison
Num: 487, People: Stace
Num: 488, People: Wit
Num: 489, People: Justus
Num: 490, People: Bambie
Num: 491, People: Marlow
Num: 492, People: Ricky
Num: 493, People: Brenn
Num: 494, People: Austen
Num: 495, People: Sile
Num: 496, People: Amelia
Num: 497, People: Raleigh
Num: 498, People: Dalston
Num: 499, People: Eben
Num: 500, People: Edith
Num: 501, People: Melisa
Num: 502, People: Kettie
Num: 503, People: Ulberto
Num: 504, People: Bettine
Num: 505, People: Petra
Num: 506, People: Abbey
Num: 507, People: Audrey
Num: 508, People: Janaya
Num: 509, People: Laurens
Num: 510, People: Angil
Num: 511, People: Rickey
Num: 512, People: Ilse
Num: 513, People: Alica
Num: 514, People: Wilek
Num: 515, People: Con
Num: 516, People: Sherye
Num: 517, People: Filberte
Num: 518, People: Paulo
Num: 519, People: Galven
Num: 520, People: Giles
Num: 521, People: Antoine
Num: 522, People: Yance
Num: 523, People: Bridgette
Num: 524, People: Yard
Num: 525, People: Dare
Num: 526, People: Winthrop
Num: 527, People: Layton
Num: 528, People: Vassily
Num: 529, People: Viviene
Num: 530, People: Nikita
Num: 531, People: Garwin
Num: 532, People: Therine
Num: 533, People: Mar
Num: 534, People: Kiah
Num: 535, People: Isacco
Num: 536, People: Gordy
Num: 537, People: Frankie
Num: 538, People: Winfred
Num: 539, People: Sara-ann
Num: 540, People: Marya
Num: 541, People: Quinn
Num: 542, People: Chandler
Num: 543, People: Gian
Num: 544, People: Dotty
Num: 545, People: Mabelle
Num: 546, People: Maximilianus
Num: 547, People: Reuven
Num: 548, People: Thurstan
Num: 549, People: Konstance
Num: 550, People: Merry
Num: 551, People: Meade
Num: 552, People: Jody
Num: 553, People: Skippie
Num: 554, People: Cory
Num: 555, People: Glenine
Num: 556, People: Carena
Num: 557, People: Patrick
Num: 558, People: Erick
Num: 559, People: Prinz
Num: 560, People: Jefferson
Num: 561, People: Edithe
Num: 562, People: Arden
Num: 563, People: Addie
Num: 564, People: Dwayne
Num: 565, People: Hamish
Num: 566, People: Osborn
Num: 567, People: Arline
Num: 568, People: Alfred
Num: 569, People: Meghan
Num: 570, People: Krishna
Num: 571, People: Jacklin
Num: 572, People: Rosa
Num: 573, People: Jarret
Num: 574, People: Auberon
Num: 575, People: Meggi
Num: 576, People: Shayne
Num: 577, People: Shea
Num: 578, People: Baird
Num: 579, People: Gaylene
Num: 580, People: Zea
Num: 581, People: Salmon
Num: 582, People: Bren
Num: 583, People: Geri
Num: 584, People: Brady
Num: 585, People: Carey
Num: 586, People: Bradley
Num: 587, People: Brietta
Num: 588, People: Birch
Num: 589, People: Herrick
Num: 590, People: Carmine
Num: 591, People: Audrey
Num: 592, People: Carlina
Num: 593, People: Gustavo
Num: 594, People: Margo
Num: 595, People: Hendrick
Num: 596, People: Ekaterina
Num: 597, People: Winston
Num: 598, People: Elsi
Num: 599, People: Gracia
Num: 600, People: Aeriela
Num: 601, People: Madison
Num: 602, People: Ossie
Num: 603, People: Gretna
Num: 604, People: Ranice
Num: 605, People: Roman
Num: 606, People: Wood
Num: 607, People: Bartholemy
Num: 608, People: Kellen
Num: 609, People: Myron
Num: 610, People: Danyette
Num: 611, People: Gino
Num: 612, People: Pierette
Num: 613, People: Desmond
Num: 614, People: Layton
Num: 615, People: Daryle
Num: 616, People: Louisette
Num: 617, People: Cass
Num: 618, People: Porter
Num: 619, People: Poppy
Num: 620, People: Davide
Num: 621, People: Jud
Num: 622, People: Kristofor
Num: 623, People: Yorke
Num: 624, People: Jolie
Num: 625, People: Jaquenetta
Num: 626, People: Ardith
Num: 627, People: Vanny
Num: 628, People: Brod
Num: 629, People: Gram
Num: 630, People: Dallis
Num: 631, People: Burgess
Num: 632, People: Deloris
Num: 633, People: Addi
Num: 634, People: Vinni
Num: 635, People: Kally
Num: 636, People: Dorris
Num: 637, People: Renaud
Num: 638, People: Melina
Num: 639, People: Trace
Num: 640, People: Locke
Num: 641, People: Chrissy
Num: 642, People: Heinrick
Num: 643, People: Lynnelle
Num: 644, People: Franny
Num: 645, People: Gena
Num: 646, People: Xavier
Num: 647, People: Felicio
Num: 648, People: Gennifer
Num: 649, People: Alair
Num: 650, People: Alexis
Num: 651, People: Orson
Num: 652, People: Jonas
Num: 653, People: Franklin
Num: 654, People: Kienan
Num: 655, People: Darya
Num: 656, People: Benedicta
Num: 657, People: Arlana
Num: 658, People: Pat
Num: 659, People: Ike
Num: 660, People: Robb
Num: 661, People: Kerry
Num: 662, People: Fairfax
Num: 663, People: Dana
Num: 664, People: Gerri
Num: 665, People: Mirelle
Num: 666, People: Kayley
Num: 667, People: Del
Num: 668, People: Stanleigh
Num: 669, People: Caryl
Num: 670, People: Hoyt
Num: 671, People: Christal
Num: 672, People: Shandeigh
Num: 673, People: Leeland
Num: 674, People: Eldredge
Num: 675, People: Haskell
Num: 676, People: Ferrell
Num: 677, People: Hendrik
Num: 678, People: Marj
Num: 679, People: Nickolai
Num: 680, People: Caryl
Num: 681, People: Evered
Num: 682, People: Dix
Num: 683, People: Den
Num: 684, People: Torie
Num: 685, People: Robinet
Num: 686, People: Krystyna
Num: 687, People: Mozes
Num: 688, People: Pooh
Num: 689, People: Aylmar
Num: 690, People: Darin
Num: 691, People: Winthrop
Num: 692, People: Decca
Num: 693, People: Ramsay
Num: 694, People: Rona
Num: 695, People: Pen
Num: 696, People: Willetta
Num: 697, People: Patrick
Num: 698, People: Inger
Num: 699, People: Madeline
Num: 700, People: Rebe
Num: 701, People: Libbie
Num: 702, People: Sela
Num: 703, People: Gasparo
Num: 704, People: Garrik
Num: 705, People: Carolynn
Num: 706, People: Meris
Num: 707, People: Simmonds
Num: 708, People: Thibaud

Num: 709, People: Anthe
Num: 710, People: Marty
Num: 711, People: Rutherford
Num: 712, People: Adelice
Num: 713, People: Joe
Num: 714, People: L;urette
Num: 715, People: Raul
Num: 716, People: Agosto
Num: 717, People: Annemarie
Num: 718, People: Saxon
Num: 719, People: Robinett
Num: 720, People: Reg
Num: 721, People: Aida
Num: 722, People: Suzanne
Num: 723, People: Lucy
Num: 724, People: Edward
Num: 725, People: Ajay
Num: 726, People: Miltie
Num: 727, People: Candace
Num: 728, People: Angelo
Num: 729, People: Tommy
Num: 730, People: Colene
Num: 731, People: Anastasia
Num: 732, People: Biddy
Num: 733, People: Fleming
Num: 734, People: Hunt
Num: 735, People: Anne-marie
Num: 736, People: Nathanael
Num: 737, People: Cosme
Num: 738, People: Pippy
Num: 739, People: Bald
Num: 740, People: Kat
Num: 741, People: Dorotea
Num: 742, People: Nilson
Num: 743, People: Putnem
Num: 744, People: Myriam
Num: 745, People: Sari
Num: 746, People: Filberte
Num: 747, People: Phoebe
Num: 748, People: Tiler
Num: 749, People: Daniela
Num: 750, People: Pate
Num: 751, People: Midge
Num: 752, People: Babs
Num: 753, People: Waldemar
Num: 754, People: Ranna
Num: 755, People: Ezequiel
Num: 756, People: Gill
Num: 757, People: Conant
Num: 758, People: Woody
Num: 759, People: Raphaela
Num: 760, People: Celestia
Num: 761, People: Arlee
Num: 762, People: Merlina
Num: 763, People: Elfrieda
Num: 764, People: Rochella
Num: 765, People: Ricoriki
Num: 766, People: Todd
Num: 767, People: Carlo
Num: 768, People: Ezmeralda
Num: 769, People: Stuart
Num: 770, People: Dulcia
Num: 771, People: Rickie
Num: 772, People: Reyna
Num: 773, People: Gertie
Num: 774, People: Kissie
Num: 775, People: Hayes
Num: 776, People: Fletcher
Num: 777, People: Essa
Num: 778, People: Salaidh
Num: 779, People: Zelma
Num: 780, People: Gray
Num: 781, People: Taite
Num: 782, People: Hildegarde
Num: 783, People: Korney
Num: 784, People: Lazar
Num: 785, People: Stephan
Num: 786, People: Daven
Num: 787, People: Siegfried
Num: 788, People: Giffie
Num: 789, People: Christian
Num: 790, People: Nike
Num: 791, People: Linc
Num: 792, People: Rick
Num: 793, People: Otto
Num: 794, People: Gallagher
Num: 795, People: Johnath
Num: 796, People: Issi
Num: 797, People: Rebekah
Num: 798, People: Giffer
Num: 799, People: Neysa
Num: 800, People: Heath
Num: 801, People: Alair
Num: 802, People: Vere
Num: 803, People: Lamond
Num: 804, People: Loutitia
Num: 805, People: Marcellus
Num: 806, People: Desmund
Num: 807, People: Tracey
Num: 808, People: Muhammad
Num: 809, People: Carolyne
Num: 810, People: Douglass
Num: 811, People: Johny
Num: 812, People: Pam
Num: 813, People: Budd
Num: 814, People: Cortie
Num: 815, People: Georgi
Num: 816, People: Nolan
Num: 817, People: Robinet
Num: 818, People: Madelaine
Num: 819, People: Odelia
Num: 820, People: Jenda
Num: 821, People: Lenka
Num: 822, People: Quentin
Num: 823, People: Erich
Num: 824, People: Gannie
Num: 825, People: Maxy
Num: 826, People: Rockwell
Num: 827, People: Tiffany
Num: 828, People: Winna
Num: 829, People: Papagena
Num: 830, People: Merla
Num: 831, People: Lynnelle
Num: 832, People: Delano
Num: 833, People: Arleyne
Num: 834, People: Millard
Num: 835, People: Kimberlee
Num: 836, People: Lane
Num: 837, People: Mariejeanne
Num: 838, People: Ermina
Num: 839, People: Ealasaid
Num: 840, People: Ferguson
Num: 841, People: Amory
Num: 842, People: Robinet
Num: 843, People: Bennett
Num: 844, People: Durant
Num: 845, People: Clerissa
Num: 846, People: Eloise
Num: 847, People: Felizio
Num: 848, People: Lauryn
Num: 849, People: Beulah
Num: 850, People: Bernie
Num: 851, People: Trisha
Num: 852, People: Marwin
Num: 853, People: Goran
Num: 854, People: Bettina
Num: 855, People: Curcio
Num: 856, People: Sharleen
Num: 857, People: Orson
Num: 858, People: Sianna
Num: 859, People: Jodie
Num: 860, People: Anastasia
Num: 861, People: Drew
Num: 862, People: Hadrian
Num: 863, People: Luciano
Num: 864, People: Zaccaria
Num: 865, People: Phip
Num: 866, People: Marietta
Num: 867, People: Benito
Num: 868, People: Lindy
Num: 869, People: Corey
Num: 870, People: Korey
Num: 871, People: Basile
Num: 872, People: Ros
Num: 873, People: Christoph
Num: 874, People: Freeman
Num: 875, People: Isis
Num: 876, People: Carter
Num: 877, People: Lizzie
Num: 878, People: Leoine
Num: 879, People: Shawn
Num: 880, People: Hammad
Num: 881, People: Ethe
Num: 882, People: Brien
Num: 883, People: Orsa
Num: 884, People: Edgard
Num: 885, People: Georgette
Num: 886, People: Editha
Num: 887, People: Blanch
Num: 888, People: Tobe
Num: 889, People: Vina
Num: 890, People: Cleopatra
Num: 891, People: Madelina
Num: 892, People: Eziechiele
Num: 893, People: Mallorie
Num: 894, People: Aeriell
Num: 895, People: Brendis
Num: 896, People: Enrique
Num: 897, People: Bondie
Num: 898, People: Luci
Num: 899, People: Tracie
Num: 900, People: Bernetta
Num: 901, People: Micky
Num: 902, People: Yard
Num: 903, People: Zita
Num: 904, People: Klarika
Num: 905, People: Benita
Num: 906, People: Roanne
Num: 907, People: Dix
Num: 908, People: Bink
Num: 909, People: Valentijn
Num: 910, People: Lorelei
Num: 911, People: Giacinta
Num: 912, People: Halsy
Num: 913, People: Giff
Num: 914, People: Lana
Num: 915, People: Vilma
Num: 916, People: Sebastiano
Num: 917, People: Petey
Num: 918, People: Arv
Num: 919, People: Robinet
Num: 920, People: Conn
Num: 921, People: Baillie
Num: 922, People: Liva
Num: 923, People: Alisander
Num: 924, People: Andie
Num: 925, People: Jewelle
Num: 926, People: Gannie
Num: 927, People: Olivero
Num: 928, People: Tommie
Num: 929, People: Bella
Num: 930, People: Caren
Num: 931, People: Chrystel
Num: 932, People: Renaud
Num: 933, People: Dell
Num: 934, People: Jefferson
Num: 935, People: Selestina
Num: 936, People: Wynny
Num: 937, People: Halette
Num: 938, People: Dacia
Num: 939, People: Hoebart
Num: 940, People: Shannan
Num: 941, People: Erl
Num: 942, People: Barty
Num: 943, People: Darb
Num: 944, People: Bud
Num: 945, People: Yuma
Num: 946, People: Thadeus
Num: 947, People: Esmaria
Num: 948, People: Yardley
Num: 949, People: Felipe
Num: 950, People: Teddie
Num: 951, People: Cooper
Num: 952, People: Husein
Num: 953, People: Gerik
Num: 954, People: Ezra
Num: 955, People: Kathlin
Num: 956, People: Catharine
Num: 957, People: Baxy
Num: 958, People: Irvin
Num: 959, People: Luella
Num: 960, People: Caleb
Num: 961, People: Kevin
Num: 962, People: Cointon
Num: 963, People: Ronald
Num: 964, People: Frazier
Num: 965, People: Jackie
Num: 966, People: Codie
Num: 967, People: Nertie
Num: 968, People: Adey
Num: 969, People: Gerik
Num: 970, People: Dasha
Num: 971, People: Melvin
Num: 972, People: Fedora
Num: 973, People: Vanna
Num: 974, People: Lark
Num: 975, People: Yankee
Num: 976, People: Henderson
Num: 977, People: Elliot
Num: 978, People: Esteban
Num: 979, People: Finn
Num: 980, People: Maison
Num: 981, People: Cathlene
Num: 982, People: Chrissie
Num: 983, People: Edgardo
Num: 984, People: Ashien
Num: 985, People: Imelda
Num: 986, People: Deirdre
Num: 987, People: Rog
Num: 988, People: Galven
Num: 989, People: Danna
Num: 990, People: Faith
Num: 991, People: Dyna
Num: 992, People: Shirlee
Num: 993, People: Read
Num: 994, People: Heddie
Num: 995, People: Kathryne
Num: 996, People: Ronni
Num: 997, People: Uri
Num: 998, People: Margie
Num: 999, People: Zollie
Num: 1000, People: Barty

In [53]:
# Caso nao importe os dados no banco, rodar esse script
# ALTER TABLE people CONVERT TO CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci